@media (min-width: 768px) {
  .recipients-list {
    // width: 90%;
    margin: auto 0 0 10%;
    display: grid;
    grid-template-columns: 32% 32% 32%;
  }
}
@media (max-width: 768px) {
  .recipients-list {
    margin: auto;
    margin-left: 17%;
    display: grid;
    grid-template-columns: auto;
  }
}

// Recipients Name (h1)
.fixx {
  margin-top: 100px;
}

// label names (food eastren , deserts , fast food )
.labelName {
  font-size: 20px;
}
.recipient-line {
  position: relative;
  border-radius: 3%;
  width: 80%;
  margin: 3%;
  padding: 1.5%;
  display: block;
  color: white;
  background-color: white;
  box-shadow: 5px 5px 3px rgba(33, 112, 79, 0.658);

  .recipient-item-img {
    border-radius: 3%;
    width: 100%;
    margin: auto;
    opacity: 97%;
  }

  .div-buttons {
    opacity: 0;
    .recipient-item-button {
      padding: 2%;
      margin: 10% 10% 10% 14%;
      width: 230px;
      height: 50px;
        display: block;
      font-size: 20px;
      color: white;
      border-radius: 5%;
      background: rgba(0, 0, 0, 0.438);
      border: rgba(255, 255, 255, 0.623) solid 1px;
      box-shadow: 3px 3px 3px rgba(45, 148, 105, 0.308);
    }
    .more {
      margin-top: 16%;
    }
  }

  .recipient-item-button:hover {
    color: rgba(0, 150, 136, 0.57);
    border: rgba(0, 150, 136, 0.57) solid 2px;
    cursor: pointer;
  }
} // end of .recipient-line

.recipient-line .div-buttons {
  position: absolute;
  top: 19%;
  left: 2%;
  width: 28%;
  box-sizing: border-box;
  box-sizing: content-box;
  height: 76%;
  border-radius: 3%;
}
.recipient-line .div-buttons:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.582);
}
.recipient-item-name {
  text-align: center;
  margin: 2%;
  border-top: groove;
  color: rgba(0, 0, 0, 0.781);
}
.recipient-item-name:hover {
  color: rgba(0, 150, 136, 0.57);
  cursor: pointer;
}


.result-req-div{
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 30px;
  margin: 4%;
}
.update-button-cart {
  padding: 2%;
  width: 29%;
  height: 50px;
  /* display: block; */
  line-height: 20%;
  font-size: 79%;
  /* margin: auto; */
  margin: 1%;
  color: white;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.35);
  border: rgba(255, 255, 255, 0.623) solid 1px;
  box-shadow: 3px 3px 3px rgba(45, 148, 105, 0.308);
}
.update-button-cart:hover{
  color: rgba(213, 216, 216, 0.57);
  border: rgba(166, 168, 168, 0.57)solid 2px;
  cursor: pointer;
}
.cart-button-div{
  border-bottom: groove;
  padding: 2%;
}
.cart-name{
  font-size: 16px;
}
.form-lable-r label {
  margin-left: 1%;
}
.update-input, .redio-div {
  color: #dbdada;
  display: block;
  font-size: 14px;
  border: none;
  padding: 10px 10px;
  // /* margin: -1% auto 1%; */
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  width: 90% !important;
  margin: 0;
}
.donor-item-button-section- {
  padding: 2%;
  margin: 41% auto 0% auto;
  width: 59%;
  height: 50px;
  display: block;
  font-size: 112%;
  color: white;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.438);
  border: rgba(255, 255, 255, 0.623) solid 1px;
  box-shadow: 3px 3px 3px rgba(45, 148, 105, 0.308);
}
.donor-item-button-section-:hover{
  color: rgba(0, 150, 136, 0.57);
  border:rgba(0, 150, 136, 0.57) solid 2px ;
  cursor: pointer;
}
.donor-line-section- {
  position: relative;
  border-radius: 6%;
  width: 57%;
  margin: auto;
  padding: 1.5%;
  display: block;
  background-color: rgba(255, 255, 255, 0.74);
  box-shadow: 5px 5px 3px rgba(33, 112, 79, 0.658);
}
.cart-details-m{
  width: 500px !important;
}
.update-label {
  color: #dbdada;
  font-size: 13px;
  text-align: left;
  display: block;
}
.redio-div {
    margin: 2% 0% 1% 0%;
}
.donor-line .donor-item-div2- {
  background: rgba(0, 0, 0, 0.42);
  opacity: 1;
  position: absolute;
  width: 46%;
  top: 3.3%;
  right: 4.1%;
  height: 330px;
  border-radius: 0;
}
.donor-line .donor-item-div1- {
  background: rgba(0, 0, 0, 0.42);
  opacity: 1;
  position: absolute;
  width: 46%;
  top: 3.3%;
  left: 4.1%;
  height: 330px;
  border-radius: 0;
}
.res-p {
  text-align: center;
  font-size: 24px;
  padding: 2%;
  margin: 1%;
  color: #ffffffcf;
  text-shadow: 1px 2px 2px #1b5d57;
}
.spasee-div{
  margin: 5% -2% 2% auto;
  width: 95%;
  border-bottom: 3px groove rgba(255, 255, 255, 0.76);
}