$bg: #f7f7f7;
$color-primary: #ffe553;
@import 'https://fonts.googleapis.com/css?family=Quicksand:400,700|Roboto:400,700,700i';
@import url('https://fonts.googleapis.com/css?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gotu&display=swap');
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$quicksand: "Quicksand", $sans-serif;
$roboto: "Roboto", $sans-serif;
$gray: #C9C9C9;
$smoke: #E3E3E3;
$sky: #9AD3DE;
$blue: #89BDD3;
$orange: #E05038;
$angle: 8deg;
$content-max-width: 90%;

* {
  box-sizing: border-box;
}

ul, 
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// body {
//   min-height: 100vh;
//   margin-top: 5em;
// }

.namm {
  margin-top: 2%;
  margin-bottom: 1em;
  font-size: 2em;
  max-width: 600px;
  line-height: 1.3;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(241, 242, 243, 0.76);
  text-shadow: 1px 1px 2px black, 0 0 0px #009688, 0 0 1px #009688;
}

.content-block {
  margin-bottom: 3em;
  margin-left: 3em;


}

#tabs {
  margin-bottom: 2.6em;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    left: 0;
    background: #f1f1f1;
  }
  
  li {
    font-size:1.05em;
    font-weight: 700;
    margin-right: 3em;
    padding-bottom: 0.6em;
    letter-spacing:0.03em;
    display: inline-block;
    position: relative;
    cursor:pointer;
    &.active {
      border-bottom: 3.5px solid rgba(9, 92, 109, 0.925);

    }

  }
 
}
.active p {
  line-height: 1.6;
  font-size: 18px;
  letter-spacing: 2px;
}
.container {
  max-width: 97%;
  @extend %clearfix;
    margin: 55px auto;
    padding: 0 2em;
    padding: 6%;
    /* border: solid 1px white;*/
}
.stars {
  font-size: 1.6em;
}
.rat {
  color: #bfbfbf;
  letter-spacing: .08em;
  font-size: 1.3rem;
  font-weight: bold;
  margin-right: 3%;
  margin-bottom: .7rem;
  margin-left: 2%;
}
.label {
  color: lighten(black, 75%);
  letter-spacing: .08em;
  font-size: 0.9rem;
  font-weight: bold;
  display: block;
  margin-bottom: .7rem;
  text-transform: uppercase;

}

span.stars {
  font-size: 1.4em;
}

.body,
.course-sidebar {
  min-height: 100vh;
}

.course-content {
  width: calc(100% - 320px);
  float: right;
  padding-right: 5em;
}

.courseSidebar {
  width: 230px;
  float: left;
  position: relative;
  &__featureImage {
    padding-bottom: 100%;
    background: gainsboro;
    margin-bottom: 3em;
  }
}

.profile-image {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  border-radius: 100%;
  background: $bg;
  &__inner {
    position: Absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 20px;
    border-radius: 100%;
    overflow: hidden;
    &::after {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      background: rgba(0, 0, 0, 0.2);
      content: '';
    }
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.panel {
  margin: 2em 0;
  background: rgb(112, 112, 112);
  padding: 4em 10em 4em 5.5em;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.07), 0 0 55px rgba(0, 0, 0, 0.06);
}

.courseStats {
  margin: 60px 0 0 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 2.8rem; 
  }
  
  &__label {
      background: rgb(0, 126, 126);
      position: relative;
      margin-bottom: -4px;
      float: left;
      padding-right: 5px;

   }
  
   &__divider {     
      float: left;
      height: 3px;
      background: lighten(black, 100%);
      box-shadow: 0 0 10px 0 rgba(7, 100, 153, 0.897);
      
      width: 100%;
      display: block;
      margin-bottom: 1.4rem;
    }
  
    &__data { display: block;  font-weight:200; font-size:0.8rem; text-transform: uppercase; box-shadow: 0 0 9px 0 rgba(9, 92, 109, 0.925); padding-bottom: 5%; padding-left: 5%; text-align: left;
    }
}

#tab li:not(.active) {display:none;}

.avatar {
  position: relative;
  z-index: 9;
  border-radius: 47%;
  margin-left: 2%;
  width: 90%;
  height: 164px;
  box-shadow: 0 0 0 6px #fdfdfd, 0px 12px 0 6px rgba(100, 100, 100, 0.65), -6px -12px 0 6px rgba(9, 92, 109, 0.89);
  margin-bottom: 12%;
}




.btnz {
  border: solid 1px rgba(255, 255, 255, 0.884);
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  border-radius: 35px;
  font-size: 11px;
  background-color: #222;
  padding: 10px 10px;
  margin: 2% 0 0 22%;
  box-shadow: 0 5px 15px rgba(191, 183, 183, 0.2);
  float: left;
}

.btnz span {
position: relative; 
z-index: 1;
}
.btn1{
  padding: 8%;
    border: 2px solid #0a252a;
    /* box-shadow: 2px 0px 2px 2px #0a252a; */
    border-radius: 25px;
    font-size: 13px;
    color: #ffffffb5;
    width: 100%;
}
.btnz:hover{
 color: #0b7685dc;
 border: solid 1px #0b7685dc;
}
@media(min-width: 768px) {
.cir {
  width: 51%;
  /* margin-left: -3%; */
  display: grid;
  margin: 3%;
  grid-template-columns: 50% 50%;
}
}

.gauge-chart2 , .gauge-chart3{
  width: 80%;
  padding: 3%;
}

.btn11 {
  border: solid 1px rgba(255, 255, 255, 0.884);
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  border-radius: 30px;
  font-size: 14px;
  background-color: #222;
  padding: 12px 40px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(191, 183, 183, 0.2);
  margin-left: -3%;
}

.btn11 span {
position: relative; 
z-index: 1;
}
.btn11:hover{
 color: #0b7685dc;
 border: solid 1px #0b7685dc;
}

@media(max-width: 768px) {





  
  .parg{
    overflow: auto;
    width: 120px;
    height: 200px;
  }



  .parg::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .parg::-webkit-scrollbar-track {
    background: #f1f1f1c5; 
    border-radius: 6%;
  }
   
  /* Handle */
   .parg::-webkit-scrollbar-thumb {
    //   width: 100%;
    //   height: .01px;
      border-radius: 6%;
    background:rgba(0, 0, 0, 0.541); 
  }
  
  /* Handle on hover */
  .parg::-webkit-scrollbar-thumb:hover {
    border-radius: 6%;
    background: rgba(0, 0, 0, 0.322); 
    cursor: grabbing;
  }

  .parg{
    font-size: 12%;
  }



  .page__course{
    padding:2%}

    .btn11{
      font-size: 9px;
      padding: 12px 35px;


    }
    .avatar {

     
      max-width: 60%;
      margin-left: 15%;

    
  }
  .content-block{
    margin-left: -15%;
  }

  .namm{
font-size: 25px;
}
.body {
  min-height: 100vh;
  margin-top: 15%;
}




.cir{
  width: 300%;
}
 
.courseStats {
  margin: 60px 30px 0 0;
  padding: 0;
  list-style: none;
}
  }

  .courseStats__data {
    display: block;
    font-weight: 200;
    font-size: 0.8rem;
    text-transform: uppercase;
    box-shadow: 0 0 3px 0 rgba(9, 92, 109, 0.925);
    padding-bottom: 5%;
    padding-left: 5%;
    color: rgba(255, 255, 255, 0.705);
    padding: 7%;
    border-radius: 25px;
    text-align: center;
}
.courseStats__label {
 background: none;
  position: relative;
  margin-bottom: -5px;
  float: left;
  color: #ffffffad;
  /* padding: 1%; */
  margin: 4% 0 0% 32%;
  text-align: center;
  /* border-bottom: groove; */
  padding-right: 5px;
}

.courseStats__divider {
  float: left;
  height: 3px;
  background: #ffffff38;
  box-shadow: 0 0 10px 0 rgba(7, 100, 153, 0.897);
  width: 88%;
  text-align: center;
  display: block;
  margin-bottom: 3%;
  margin-left: 4%;
}
#tabs li.active {
  font-size: 21px;
  border-bottom: 3.5px solid rgba(9, 92, 109, 0.925);
}