.modal {
    bottom:0;
    left:0;
    position:fixed;
    right:0;
    top:0;
    z-index:100;

    &:after {
        background:#000;
        bottom:0;
        content:'';
        left:0;
        opacity:.5;
        position:absolute;
        right:0;
        top:0;

    }

    > div { 
        background: #016b60ef;
    box-shadow: 0 1px 4px rgba(234, 230, 230, 0.73), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-sizing: border-box;
    border-radius: 6%;
    display: flex;
    flex-direction: column;
    height: 82%;
    margin: auto;
    padding: 0;
    // overflow: scroll;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 45%;
    z-index: 1000;

        > header {
            background: #ccc0;
            border-bottom: 0 none;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46); */
            display: flex;
            margin-top: 2%;
            color: rgba(255, 255, 255, 0.966);
            font-size: 19px;
            font-weight: bold;
            height: 1.5em;
            line-height: 1.5em;
            letter-spacing: 1px;
            padding: .25em 1em;

            span {
                font-family: Arial, Helvetica, sans-serif;
                color: rgba(255, 255, 255, 0.952);
                text-align: center;
            }
            > img{
                position: absolute;
                z-index: 100;
                top: -3%;
                left: 46%;
                // padding: 1%;
                box-shadow: 2px 2px 5px 1px #02141383;
                border-radius: 50%;
                // min-height: 148px;
                min-width: 12%;
                opacity: 86%;
                overflow: hidden;
                transform: skewX(0deg);
            }
            > img:hover{
                transform: scale(1.02);
                transition: 800ms;
                cursor: pointer;
            }

            button {
                position: absolute;
                z-index: 1000;
                font-size: 20px;
                color: #ffffffb3;
                right: 18px;
                top: 1px;
                border-radius: 15px;
                background: none;
                border: solid .1px #ffffff2e;

                &:hover {
                    background:rgba(252, 252, 252, 0.822);
                    color:rgb(8, 8, 8);
                    transition: 700ms;
                }
            }

        }

        > div {
    font-family: 'ABeeZee', sans-serif;
    width: 94%;
    height: 79%;
    top: 90px;
    position: absolute;
    right: 19px;
    color: black;
    background: #9e9e9e3d;
    font-size: 20px;
    box-shadow: 2p 2px 3px 5px brown;
    padding: 2.5%;
    border: solid .5px #086f65;
    border-radius: 6%;
    overflow: auto;
  
            > div {
                color: rgba(255, 255, 255, 0.938);
                line-height: 40px;
                
                > div {
                    letter-spacing: 1.5px;
                    font-size: 17px;
                    text-align: center;
                    > div {  
                        width: 100%;
                        border-top: groove white;
                        padding: 1%;
                         > span {
                            float: left;
                            font-size: 17px;
                        
                        }
                        > i {    
                                    width: 10%;
                                    font-size: 28px;
                                    background: rgba(255, 255, 255, 0.185);
                                    cursor: pointer;
                                    // display: contents;
                                    float: left;
                                }
                    > p {
                        padding: 5px;
                        margin: 0 0 0 0px;
                        background: #b5aaaa24;
                        display: inline-block;
                        width: 70%;
                        // float: right;
                        border-radius: 15px;
                        text-align: center;
                    }
                    > p:hover{
                        transform: scale(1.005);
                        background: #b5aaaa4d;
                        cursor: pointer;
                    }
                    
                }
                }
            }
        }
        > div::-webkit-scrollbar {
            width: 10px;
          }
          
          /* Track */
          > div::-webkit-scrollbar-track {
            background: #f1f1f1c5; 
            border-radius: 6%;
          }
           
          /* Handle */
          > div::-webkit-scrollbar-thumb {
            //   width: 100%;
            //   height: .01px;
              border-radius: 6%;
            background:rgba(0, 0, 0, 0.541); 
          }
          
          /* Handle on hover */
          > div::-webkit-scrollbar-thumb:hover {
            border-radius: 6%;
            background: rgba(0, 0, 0, 0.322); 
            cursor: grabbing;
          }
    }
}
